<!DOCTYPE html>
<html>
<head>
  {% include '/partials/template/head.html.twig' %}
</head>

<body>

  {% include '/partials/content/navbar.html.twig' %}


  {% if recipes is not empty %}
    <h1>Recipes</h1>

    {% for recipe in recipes %}
      <div class="recipe-list-item">
        <h2><a href="/recipe/{{ recipe.getId }}">{{ recipe.getCreated }}</a></h2>
        <p>{{ recipe.getRating }}/5</p>
        <ul>
          <li>
            {{ recipe.getCoffeePounds }} pound{% if recipe.getCoffeePounds != 1 %}s{% endif %}
            {% for blend in blends %}
              {% if blend.getId == recipe.getBlendId %}
                <a href="/blend/{{ blend.getId }}">{{ blend.getBlend }}</a>
              {% endif %}
            {% endfor %}
          </li>
          <li>{{ recipe.getWaterGallons }} gallon purified water</li>
        </ul>
      </div>
    {% endfor %}

  {% else %}
    <h1>No recipes found.</h1>
  {% endif %}

  {% include '/partials/template/footer.html.twig' %}

</body>
</html>
